<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="w-full relative">
        <div class="w-full h-[429px] left-0 top-0 absolute bg-slate-50"></div>
        <div class="w-[375px] h-[284px] left-[100px] top-[57px] absolute">
            <div class="w-[375px] h-[227px] left-0 top-0 absolute">
                <div
                    class="w-[375px] h-[89px] left-0 top-[138px] absolute text-zinc-400 text-lg font-medium font-['Montserrat']">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo libero viverra dapibus odio sit
                    malesuada in quis. Arcu tristique elementum viverra integer id.</div>
                <img class="w-[181px] h-[108px] left-0 top-0 absolute" src="../assets/img/logo.png" />
            </div>
            <div class="w-[222px] h-[42px] left-0 top-[260px] absolute">
                <div class="w-[42px] h-[42px] left-0 top-0 absolute">
                    <div class="w-[42px] h-[42px] left-0 top-0 absolute bg-orange-400 rounded-full"></div>
                    <div class="w-[22px] h-[22px] left-[10px] top-[10px] absolute">
                        <img class="w-[22px] h-[22px] left-0 top-0 absolute" src="../assets/img/footer/facebook.png" />

                    </div>
                </div>
                <div class="w-[42px] h-[42px] left-[180px] top-0 absolute">
                    <div class="w-[42px] h-[42px] left-0 top-0 absolute bg-orange-400 rounded-full"></div>
                    <div class="w-[18px] h-[18px] left-[12px] top-[12px] absolute">
                        <img class="w-[18px] h-[18px] left-0 top-0 absolute" src="../assets/img/footer/twitter.png" />

                    </div>
                </div>
                <div class="w-[42px] h-[42px] left-[60px] top-0 absolute">
                    <div class="w-[42px] h-[42px] left-0 top-0 absolute bg-orange-400 rounded-full"></div>
                    <div class="w-[23px] h-[23px] left-[10px] top-[10px] absolute">
                        <img class="w-[23px] h-[23px] left-0 top-0 absolute" src="../assets/img/footer/linkedin.png" />

                    </div>
                </div>
                <div class="w-[42px] h-[42px] left-[120px] top-0 absolute">
                    <div class="w-[42px] h-[42px] left-0 top-0 absolute bg-orange-400 rounded-full"></div>
                    <div class="w-[23px] h-[23px] left-[10px] top-[10px] absolute">
                        <img class="w-[23px] h-[23px] left-0 top-0 absolute" src="../assets/img/footer/instagram.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="w-[287px] h-[277px] left-[1300px] top-[95px] absolute">
            <div class="left-0 top-0 absolute text-black text-[26px] font-bold font-['Montserrat']">Contact Us</div>
            <div class="w-[209px] h-[90px] left-0 top-[100px] absolute">
                <div class="left-0 top-0 absolute text-zinc-400 text-lg font-medium font-['Montserrat']">1234 Country
                    Club Ave</div>
                <div class="left-0 top-[34px] absolute text-zinc-400 text-lg font-medium font-['Montserrat']">NC 123456,
                    London, UK</div>
                <div class="left-0 top-[68px] absolute text-zinc-400 text-lg font-medium font-['Montserrat']">+0123 456
                    7891</div>
            </div>
        </div>
        <div class="w-[159px] h-[258px] left-[1000px] top-[95px] absolute">
            <div class="left-0 top-0 absolute text-black text-[26px] font-bold font-['Montserrat']">User Link</div>
            <div class="w-[159px] h-[158px] left-0 top-[100px] absolute">
                <div class="left-0 top-0 absolute text-zinc-400 text-lg font-medium font-['Montserrat']">About Us</div>
                <div class="left-0 top-[34px] absolute text-zinc-400 text-lg font-medium font-['Montserrat']">Contact Us
                </div>
                <div class="left-0 top-[68px] absolute text-zinc-400 text-lg font-medium font-['Montserrat']">Order
                    Delivery</div>
                <div class="left-0 top-[102px] absolute text-zinc-400 text-lg font-medium font-['Montserrat']">Payment &
                    Tex</div>
                <div class="left-0 top-[136px] absolute text-zinc-400 text-lg font-medium font-['Montserrat']">Terms of
                    Services</div>
            </div>
        </div>
        <div class="w-[276px] h-[190px] left-[600px] top-[95px] absolute">
            <div class="left-0 top-0 absolute text-black text-[26px] font-bold font-['Montserrat']">Opening Restaurant
            </div>
            <div class="w-[260px] h-[90px] left-[8px] top-[100px] absolute">
                <div class="left-0 top-0 absolute text-zinc-400 text-lg font-medium font-['Montserrat']">Sat-Wet:
                    09:00am-10:00PM</div>
                <div class="left-0 top-[34px] absolute text-zinc-400 text-lg font-medium font-['Montserrat']">Thursdayt:
                    09:00am-11:00PM</div>
                <div class="left-0 top-[68px] absolute text-zinc-400 text-lg font-medium font-['Montserrat']">Friday:
                    09:00am-8:00PM</div>
            </div>
        </div>
    </div>
</body>
</html>