<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <!-- Footer -->
    <footer class="w-full h-[429px] bg-[#FAFAFF] px-[180px]">
        <div class="flex gap-[154px]">
            <div class="mt-[57px] w-[375px]">
                <img src="../assets/img/logo.png" class="w-[181px] mb-[30px]" alt="">
                <p class="text-p1 text-gray mb-[15px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo libero viverra dapibus odio sit
                    malesuada in quis. Arcu tristique elementum viverra integer id.</p>
                <div class="flex gap-[18px]">
                    <div class="w-[42px] h-[42px] rounded-full bg-[#F5DDC4] flex justify-center items-center">
                        <img src="../assets/img/footer/facebook.png" class="w-[22px]" alt="">
                    </div>
                    <div class="w-[42px] h-[42px] rounded-full bg-[#F5DDC4] flex justify-center items-center">
                        <img src="../assets/img/footer/twitter.png" class="w-[22px]" alt="">
                    </div>
                    <div class="w-[42px] h-[42px] rounded-full bg-[#F5DDC4] flex justify-center items-center">
                        <img src="../assets/img/footer/linkedin.png" class="w-[22px]" alt="">
                    </div>
                    <div class="w-[42px] h-[42px] rounded-full bg-[#F5DDC4] flex justify-center items-center">
                        <img src="../assets/img/footer/instagram.png" class="w-[22px]" alt="">
                    </div>
                </div>
            </div>

            <div class="mt-[95px]">
                <h4 class="mb-[68px]">Opening Restaurant</h4>

                <p class="text-p1 text-gray mb-3">Sat-Wet: 09:00am-10:00PM</p>
                <p class="text-p1 text-gray mb-3">Thursdayt: 09:00am-11:00PM</p>
                <p class="text-p1 text-gray">Friday: 09:00am-8:00PM</p>
            </div>

            <div class="mt-[95px]">
                <h4 class="mb-[68px]">Opening Restaurant</h4>

                <p class="text-p1 text-gray mb-3">1234 Country Club Ave</p>
                <p class="text-p1 text-gray mb-3">NC 123456, London, UK</p>
                <p class="text-p1 text-gray">+0123 456 7891</p>
            </div>
        </div>
    </footer>
</body>
</html>