@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sen&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    zoom: 80%;
}

h1 {
    font-size: 95px;
    line-height: normal;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    line-height: normal;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    line-height: normal;
    font-weight: 700;
}

h4 {
    font-size: 26px;
    line-height: normal;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    line-height: normal;
    font-weight: 600;
}

.btn-order {
    background: linear-gradient(180deg, #EFAB68 0%, #F48E28 100%);
}

.btn-order:hover {
    background: linear-gradient(180deg, #d89857 0%, #d77b1e 100%);
}

.food-slider {
    background: linear-gradient(200deg, #D9D9D9 -18.39%, rgba(217, 217, 217, 0.00) 89.51%);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input, textarea, select {
    outline-width: 0 !important;
    outline-offset: 0 !important;
    outline-color: unset !important;
    border-width: 0 !important;
    border-color: unset !important;
}

input:focus, select:focus {
    outline-width: 0 !important;
    outline-offset: 0 !important;
    outline-color: unset !important;
    border-width: 0 !important;
    border-color: unset !important;
}